RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]

# Protect directories
RedirectMatch 403 ^/database/.*$
RedirectMatch 403 ^/config/.*$
RedirectMatch 403 ^/includes/.*$